body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button, a {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 0;
  background-color: Red;
  font-family: sans-serif;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}

button {
  #width:0px;
  overflow: visible;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.game {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

/* React slider overrides */
.rc-slider-handle {
  background-color: #55acee !important;
  border: 2px solid #55acee !important;
}

.rc-slider-track {
  background-color: #55acee !important;
}

.path-tile {
  background-image: 
    linear-gradient( rgba(249, 237, 105, .2), rgba(249, 237, 105, .2)),
    url(./images/hip-square.png) !important;
}

/* .grass { */
  /* background-image: url(./images/grass-3.png) !important; */
/* } */

/* .water { */
  /* background-image: url(./images/water-3.png) !important; */
/* } */
